@page "/monitor"
@inherits Logic.UIMonitorSevice

<h1>Monitor</h1>


<button class="btn btn-primary" onclick="@BeginMonitor">Begin monitor</button>


@if (Modules == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Тип Модуля</th>
                <th>Идентификатор модуля</th>
                <th>Использование процессора</th>
                <th>Использование памяти</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var module in Modules)
            {
                <tr @*style="border-radius: 10px; box-shadow: 0 0 10px 5px rgba(0,0,0,0.2); padding: 10px;"*@ @*onclick="@SomeFunc"*@>
                    <td>
                        @module.TargedModule.ModuleType
                        @*<p style="@hideStyle"> <strong>Количество ядер процессора: </strong> <br /> <br /> @if(module.TargedModule.ModulesHostSpecs != null) @module.TargedModule.ModulesHostSpecs.CPUCores  </p>*@
                    </td>
                    <td>
                        @module.TargedModule.ConnectionID
                        @*<p style="@hideStyle"> <strong>Частота процессора: </strong> <br /> <br /> @if (module.TargedModule.ModulesHostSpecs != null) @module.TargedModule.ModulesHostSpecs.CPUClock МГц </p>*@
                    </td>
                    <td>
                        @module.Load.CPULoad %
                        @*<p style="@hideStyle"> <strong>Количество ОЗУ: </strong> <br /> <br /> @if (module.TargedModule.ModulesHostSpecs != null) @module.TargedModule.ModulesHostSpecs.AllMemory Мегабайт </p>*@
                    </td>
                    <td>
                        @module.Load.MemoryLoad %
                        @*<p style="@hideStyle"> <strong>Очки производитльности: </strong> <br /> <br /> @if (module.TargedModule.ModulesHostSpecs != null) @module.TargedModule.ModulesHostSpecs.PerformancePoint очков </p>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}